# macOS
.DS_Store

# Node
node_modules/
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
lib/
dist/
coverage/

# Expo
.expo/

# Turborepo
.turbo/

# Environment
.env
.env.*
!.env.example

# VS Code
.vscode/
jsconfig.json

# IntelliJ / Android Studio
.idea/
*.iml
.classpath
.project
.settings
.gradle
.cxx
local.properties

# Xcode
build/
DerivedData/
xcuserdata/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xccheckout
*.moved-aside
*.xcuserstate
*.ipa
*.hmap
project.xcworkspace
**/.xcode.env.local

# CocoaPods
example/ios/Pods/

# Ruby
example/vendor/

# Buck
buck-out/
.buckd/
android/app/libs/
android/keystores/debug.keystore

# Generated code
ios/generated/
android/generated/
nitrogen/

# Logs
*.log

# Temporary files
*.tmp
*.temp